@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}

* {
    padding: 0;
    margin: 0;
}

/* common styles */
.mb {
    margin-bottom: 0;
}

.container {
    width: 1140px;
    margin: auto;

}

.align-text {
    text-align: center;
}

.color-1 {
    color: rgb(97, 94, 94);
}

h2 {
    font-size: 32px;
}

/* navbar styles */
.menubar {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
}

.menubar img {
    width: 70px;
    height: 15px;
    margin-top: 12px;
}

.btn {
    color: rgb(13, 19, 33);
    font-size: 15px;
    padding: 10px 24px 10px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background-color: transparent;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/Hero-bg.png);
    border-top: 2px dashed rgb(182, 182, 182);
    border-bottom: 2px dashed rgb(182, 182, 182);
    padding: 26px 0;
}

.banner-section {
    padding: 0 20px;
}

.banner-title {
    margin-bottom: 10px;
}

.btn-contact {
    margin: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s ease-in;
}

/* development styles */
.container-development {
    margin-top: 74px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

}

.development-description {
    margin: 47px 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px;
    height: 232px;
}

.cardbox {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 20px;
}

.card-creating {
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 20px;

}

.card-text {
    width: 50%;
}

.card-img {
    width: 50%;
    text-align: right;
}

.card-img-middle {
    text-align: left;
}

.card-text h4 {
    line-height: 36px;
    margin-top: 10px;
    color: rgba(13, 19, 33, 0.7);
}

.card-text p {
    margin-top: 16px;
    margin-bottom: 32px;
    line-height: 26px;
    color: rgba(13, 19, 33);
}

.btn-primary {
    padding: 12px 20px 12px 20px;
    background-color: transparent;
    color: rgb(13, 19, 33);
    border: 1px solid rgb(156, 153, 153);
    text-decoration: none;
}

/* inspiration styles */
.header-title {
    padding: 65px 60px 0 60px;
}

.header-title p {
    margin: 24px 0 48px 0;
}

.video {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.video iframe {
    border-radius: 10px;

}

/* current target styles */
.current-target {
    display: flex;
    text-align: left;
}

.target-card {
    width: 33.33%;
    padding: 40px;
    border-radius: 16px;
    margin-right: 15px;
}

.target-card h3 {
    font-size: 24px;
    margin: 24px 0 8px 0;
}

.target-card p {
    font-size: 16px;
    margin-bottom: 24px;
}

.target-card a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

.html {
    background: rgba(255, 76, 30, 0.05);
}

.css {
    background: rgba(0, 76, 232, 0.05);
}

.js {
    background: rgba(255, 223, 0, 0.05);
}

/* next target styles */
.next-target-card {
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.next-target-card-img {
    margin-right: 24px;
    padding-top: 10px;
}

.target-card-title h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.target-card-title p {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 26px;
}

.target-card-title a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* support styles */
.support {
    height: 252px;
    padding: 64px 48px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/img/handshake.jpg);
    margin-top: 30px;
}

.support h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}

.support p {
    color: rgb(255, 255, 255);
    margin-bottom: 58px;
}

.support form input {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    padding: 19px 20px 19px 20px;
    background: rgb(255, 255, 255);
    width: 69%;
    height: 55px;
}

.btn-secondary {
    border-radius: 8px;
    align-items: center;
    padding: 17px 25px 17px 25px;
    background: rgb(255, 255, 255);
    border: none;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}

/* footer styles */
footer {
    border-radius: 16px;
    margin-top: 40px;

    background: rgba(13, 19, 33, 0.03);
}

.footer {
    display: flex;
}

.author {
    padding: 22px 14px 22px 2px;
    width: 80%;
    align-items: center;
    display: flex;
}

.social-icon {
    padding: 22px 0px 22px 0px;
    width: 20%;
}

.social-icon ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.social-icon ul li {
    list-style: none;
    margin-left: 20px;
}